#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Hexlet
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=fgmcpgkempfajdoppfjhghblimmhlfnb
Icon=chrome-fgmcpgkempfajdoppfjhghblimmhlfnb-Default
StartupWMClass=crx_fgmcpgkempfajdoppfjhghblimmhlfnb
