#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Stepik
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=hpgfmehgolhjabldekkcpgdcpeocckng
Icon=chrome-hpgfmehgolhjabldekkcpgdcpeocckng-Default
StartupWMClass=crx_hpgfmehgolhjabldekkcpgdcpeocckng
