# Временные и резервные файлы редакторов
*.sw?
*~
*.bak
*.old
*.tmp
*.log
*.cache

# Временные файлы Neovim (swap, undo, backup)
*.un?
*.backup

# Временные файлы Emacs
.#*
*#

# Служебные файлы и каталоги
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Временные и служебные файлы IDE
.idea/
.vscode/

# Бинарные и скомпилированные файлы
*.o
*.pyc
*.class
*.bin
*.so
*.a
*.out

# Личные или конфиденциальные файлы
*.secret
*.token
.env
*.priv

# Файлы, специфичные для Stow
.stow-local-ignore

# Файлы пакетных менеджеров
package-lock.json
yarn.lock
Gemfile.lock

# Сгенерированные файлы автодополнения
*.zwc
zcompdump*

# Не добавляйте сюда файлы конфигураций, которые хотите отслеживать в dotfiles!

